.editor-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 3fr 1fr;
    grid-template-areas:
        "header header"
        "editor preview"
        "table table";
}

#aksharas_table {
    grid-area: table;
    grid-column: span 2;
    justify-self: center;

    max-width: min-content;
    border: 1px solid black;
    border-collapse: collapse;

    background-color: var(--body-background-color);
}

#aksharas_table td {
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
    white-space: nowrap;
}

#aksharas_table td > button {
    background-color: var(--body-background-color);
    border: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
textarea {
    margin: 0;
    grid-area: editor;
    overflow-x: scroll;
    overflow-y: scroll;
    resize: none;
    background-color: var(--body-background-color);

    border: 2px solid black;
    white-space: pre;
}

header {
    grid-area: header;
}
main {
    grid-area: preview;
    overflow: scroll;
    background-color: var(--body-background-color);
}

.caret-left {
    border-left-width: 1px;
    border-left-style: solid;
    animation: blink-left 1s step-start 0s infinite;
}

@keyframes blink-left {
    0% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: black;
    }
    100% {
        border-left-color: transparent;
    }
}

.caret-right {
    border-right-width: 1px;
    border-right-style: solid;
    animation: blink-right 1s step-start 0s infinite;
}

@keyframes blink-right {
    0% {
        border-right-color: transparent;
    }
    50% {
        border-right-color: black;
    }
    100% {
        border-right-color: transparent;
    }
}

.letter,
.marker {
    cursor: pointer;
}

.letter:hover {
    background-color: lightgreen;
}

.marker:hover {
    background-color: red;
}

html,
body {
    height: 100%;
}
