.editor-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "header header"
        "editor preview";
}

textarea {
    margin: 0;
    grid-area: editor;
    overflow-x: scroll;
    overflow-y: scroll;
    resize: none;
    background-color: var(--body-background-color);

    border: 2px solid black;
    white-space: pre;

    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    padding: 20px;
}

header {
    grid-area: header;
}

main {
    grid-area: preview;
    overflow: scroll;
    background-color: var(--body-background-color);

    font-family: "Noto Sans Kannada", sans-serif;
    font-size: 14px;
    padding: 20px;
}

html,
body {
    height: 100%;
}
