.page {
    border: solid black 1px;
    background-color: #fffff8;
    margin-top: 1rem;
    padding: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: scroll;
}

.row {
    display: table-row;
}

.row > * {
    padding-right: 1ch;
    white-space: nowrap;
    display: table-cell;
    vertical-align: bottom;
}

.row-marker, .separator{
    padding-right: 8px;
    padding-left: 8px;
}
/* For the pilcrow */
.end-row-marker {
    transform: scale(-1, 1);
}

.subscript {
    position: relative;
    bottom: -0.5em;
    font-size: 80%;
}

.du {
    border-bottom: double 3px;
}

.su {
    border-bottom: solid 1px;
}