.page {
    border: solid black 1px;
    background-color: #fffff8;
    margin-top: 1rem;
    padding: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: scroll;
}

.row > .group {
    display: table-cell;
}

.group > .phrase{
    vertical-align: bottom;
}

/* CSS for horizontal curly brace */

:root {
    --curly-top-border-radius: 8px;
}

.count-hints-container {
    display: inline-flex;
    flex-direction: column;
}

.count-hints-container span {
    flex-basis: 0;
}

.curly-brace-group {
    display: flex;
    transform: translateY(var(--curly-top-border-radius));
}

.curly-brace-left-arc {
    width: var(--curly-top-border-radius);
    height: var(--curly-top-border-radius);
    border-top-left-radius: var(--curly-top-border-radius);
    border: 1px solid brown;
    border-right: none;
    border-bottom: none;
}

.curly-brace-right-arc {
    width: var(--curly-top-border-radius);
    height: var(--curly-top-border-radius);
    border-top-right-radius: var(--curly-top-border-radius);
    border: 1px solid brown;
    border-left: none;
    border-bottom: none;
}

.curly-brace-invert {
    transform: rotate(-180deg)
        translateY(calc(var(--curly-top-border-radius)));
}

.curly-brace-line {
    flex: 1;
    border-top: solid brown 1px;
}
