* {
    box-sizing: border-box;
}

:root {
    --body-background-color: #fffff8;
    --body-text-color: #111;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--body-text-color);
    color: var(--body-background-color);

    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "nav-left nav-center nav-right";
    align-items: center;
    gap: 20px;
}

header a {
    color: var(--body-background-color);
}

.nav-left {
    grid-area: nav-left;
}

.nav-center {
    grid-area: nav-center;
    justify-content: center;
}
.nav-right {
    grid-area: nav-right;
}

header > div {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    gap: 20px;
}

body {
    margin: 0px;
    height: 100%;

    background-color: rgb(125, 88, 88);
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 14px,
        rgb(169, 134, 134) 14px,
        rgb(169, 134, 134) 18px
    );
    background-attachment: fixed;
}

.h1 {
    font-size: x-large;
    font-weight: 800;
}
.h2 {
    font-size: large;
    font-weight: 700;
}

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}


/* CSS for horizontal curly brace */

:root {
    --curly-top-border-radius: 8px;
}

.count-hints-container {
    display: inline-flex;
    flex-direction: column;
}

.count-hints-container span {
    flex-basis: 0;
}

.curly-brace-group {
    display: flex;
    transform: translateY(var(--curly-top-border-radius));
}

.curly-brace-left-arc {
    width: var(--curly-top-border-radius);
    height: var(--curly-top-border-radius);
    border-top-left-radius: var(--curly-top-border-radius);
    border: 1px solid brown;
    border-right: none;
    border-bottom: none;
}

.curly-brace-right-arc {
    width: var(--curly-top-border-radius);
    height: var(--curly-top-border-radius);
    border-top-right-radius: var(--curly-top-border-radius);
    border: 1px solid brown;
    border-left: none;
    border-bottom: none;
}

.curly-brace-invert {
    transform: rotate(-180deg)
        translateY(calc(var(--curly-top-border-radius) - 1px));
}

.curly-brace-line {
    flex: 1;
    border-top: solid brown 1px;
}