html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    font-family: 'Times New Roman', Times, serif;
}

td {
    vertical-align: bottom;
}

.du {
    border-bottom: double 3px;
}

.su {
    border-bottom: solid 1px;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.bold {
    font-weight: bolder;
}

.hide {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#page-numbers-window {
    display: inline-flex;
    gap: 4px;
}

.button-link {
    color: blue;
    cursor: pointer;
    font-size: large;
    text-decoration: underline;
}


/* CSS for horizontal curly brace */

:root {
    --curly-top-border-radius: 8px;
}

.count-hints-container {
    display: inline-flex;
    flex-direction: column;
}

.count-hints-container span {
    flex-basis: 0;
}

.curly-brace-group {
    display: flex;
    transform: translateY(var(--curly-top-border-radius));
}

.curly-brace-left-arc {
    width: var(--curly-top-border-radius);
    height: var(--curly-top-border-radius);
    border-top-left-radius: var(--curly-top-border-radius);
    border: 1px solid brown;
    border-right: none;
    border-bottom: none;
}

.curly-brace-right-arc {
    width: var(--curly-top-border-radius);
    height: var(--curly-top-border-radius);
    border-top-right-radius: var(--curly-top-border-radius);
    border: 1px solid brown;
    border-left: none;
    border-bottom: none;
}

.curly-brace-invert {
    transform: rotate(-180deg) translateY(calc(var(--curly-top-border-radius) - 1px));
}

.curly-brace-line {
    flex: 1;
    border-top: solid brown 1px;
}

.output-container {
    background-color: rgb(125, 88, 88);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 14px, rgb(169, 134, 134) 14px, rgb(169, 134, 134) 18px);
    background-attachment: fixed;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    padding: 1rem;
    background: #111;
    z-index: 1;
}

.nav-header * {
    color: white;
}

.page {
    scroll-margin-top: 4rem;
    border: solid black 1px;
    background-color: #fffff8;
    margin-top: 1rem;
    padding: 2rem;
}

.page-first {
    margin-top: 4rem;
}
